[submodule "small-test-repo"]
	path = small-test-repo
	url = https://github.com/rtyley/small-test-repo.git
[submodule "iam-vishnu"]
	path = iam-vishnu
	url = https://github.com/iam-vishnu/iam-vishnu.git
[submodule "test-submodules"]
	path = test-submodules
	url = https://github.com/iam-vishnu/test-submodules.git
